<div class="container">

<h1>Metadata Template Creator</h1>
<div class="row">
	<div class="span8">
	<p>The metadata template creator will add metadata keys and (optional) default values to all your files within a Box folder and its subfolders. All keys added to a folder will be additive to the keys that already exist and will not overwrite any existing values that have been set. </br></br>

	This helper application is not part of the <a href="https://www.box.com">Box Service</a> and should be used at your own risk. For more info, please visit the <a href="https://developers.box.com/metadata-api" target="_blank">documentation</a></p>
	</div>
</div>
</br>



		
		
		<%=form_tag new_path do %>

		<div class="row">

		
			<h4>Add Account Info <a href="https://box-token-generator.herokuapp.com/" target="_blank">(Get Access Token)</a> </h4>
			<%=label_tag :access_token %> 
			<%= text_field_tag :token %>
		

		
			<%=label_tag :folder_id %>
			<%= text_field_tag :folder_id %>
	

			<h4>Add keys and values</h4>

			<% 10.times do |i| %>
				<%=label_tag "key_#{i}" %>
				<%=text_field_tag "key_#{i}" %>

				<%= label_tag :default_value %>
				<%=text_field_tag "value_#{i}" %>


			<% end %>


		</div>

		<div class="row">

			<%=submit_tag "Add Metadata!", class: "btn-bt-large btn-primary"%>
			<% end %>
		</div>

	
</div>
	


