<h1>POPSUGAR + <apsn class="box">Box</span></h1>
<h2>Metadata Tool</h2>

<div class="row">
	<div class="span8">
		<p>This metadata tool will add optional values to all your files within a Box folder and its subfolders using the POPSUGAR template. Blank values will not override any existing values.</p>
		<p>Wnat to use custom keys instead of the POPSUGAR ones? You can do that <a href="/custom-properties">here</a>.</p>
	</div>
</div>
<br>

<%=form_tag new_path do %>
	<div class="row">
		<%= hidden_field_tag :token, @token %>
	
		<%= hidden_field_tag :template, :popsugar %>
			
		<%= label_tag :folder_ids, "Folder(s)" %>
		<%= hidden_field_tag :folder_ids %>
		
		<div id="box-select" data-link-type="shared" data-multiselect="true" data-client-id="fhxg60c3x2msvv38d6gjwoimh7igeuzs"></div>
		<div class="small">Warning: selecting files instead of folders will produce an error</div>
		<br>
		
		<h4>Add Values</h4>

		<%= label_tag :editorial, "Editorial" %>
		<%= text_field_tag "attributes[editorial]" %>

		<%= label_tag :nameProduct, "Brand Name" %>
		<%= text_field_tag "attributes[nameProduct]" %>

		<%= label_tag :imageType, "Image Type" %>
		<%= text_field_tag "attributes[imageType]" %>

		<%= label_tag :color, "Color" %>
		<%= text_field_tag "attributes[color]" %> 

		<%= label_tag :emotion, "Emotion" %>
		<%= text_field_tag "attributes[emotion]" %> 

		<%= label_tag :seasonHoliday, "Season/Holiday" %>
		<%= text_field_tag "attributes[seasonHoliday]" %> 

		<%= label_tag :location, "Location" %>
		<%= text_field_tag "attributes[location]" %> 

		<%= label_tag :timeOfDay, "Time of Day" %>
		<%= text_field_tag "attributes[timeOfDay]" %> 

		<%= label_tag :dateShot, "Date Shot" %>
		<%= date_field_tag "attributes[dateShot]" %> 
	
		<%= label_tag :popsugarOriginalPhoto, "Rights Managed Photo ('yes' or 'no')" %>
		<%= text_field_tag "attributes[popsugarOriginalPhoto]" %> 

		<%= label_tag :author, "Author" %>
		<%= text_field_tag "attributes[author]" %> 
	</div>

	<div class="row">
		<%= submit_tag "Send Metadata to Box", class: "btn-bt-large btn-primary" %>
		<p class="small">* This helper application is not part of the <a href="https://www.box.com">Box Service</a> and should be used at your own risk. For more info, please visit the <a href="https://developers.box.com/metadata-api" target="_blank">documentation</a></p>
	</div>
<% end %>