<h1>POPSUGAR + <apsn class="box">Box</span></h1>
<h2>Custom Properties Metadata Tool</h2>

<div class="row">
	<div class="span8">
		<p>This metadata tool will add custom key and (optional) value pairs to all your files within a Box folder and its subfolders. Blank values will not override any existing values.</p>
		<p>Wnat to use POPSUGAR keys instead of making your own? You can do that <a href="/">here</a>.</p>
	</div>
</div>
</br>

<%=form_tag new_path do %>
	<div class="row">
		<h4>Add Account Info <a href="https://box-token-generator.herokuapp.com/" target="_blank">(Get Access Token)</a> </h4>				
		<%= label_tag :access_token %> 
		<%= text_field_tag :token %>
	
		<%= hidden_field_tag :template, :properties %>

		<%= label_tag :folder_ids, "Folders" %>
		<%= hidden_field_tag :folder_ids %>
	
		<div id="box-select" data-link-type="shared" data-multiselect="true" data-client-id="fhxg60c3x2msvv38d6gjwoimh7igeuzs"></div>
		<br>

		<h4>Add keys and values</h4>

		<% 10.times do |i| %>
			<%= label_tag "key_#{i}", "Key Name" %>
			<%= text_field_tag "key_#{i}" %>

			<%= label_tag :default_value %>
			<%= text_field_tag "value_#{i}" %>
			
			<% if i != 9 %>
				<hr>
			<% end %>
		<% end %>
	</div>

	<div class="row">
		<%= submit_tag "Send Metadata to Box", class: "btn-bt-large btn-primary" %>
		<p class="small">* This helper application is not part of the <a href="https://www.box.com">Box Service</a> and should be used at your own risk. For more info, please visit the <a href="https://developers.box.com/metadata-api" target="_blank">documentation</a></p>
	</div>
<% end %>
